{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/hamburgers.css' %}">
    </head>
    <body>
        <div class="home-container">
            <div class="sidebar">
                <div class="logo w-100 my-5 text-center">
                    <i class="bi bi-braces-asterisk"><p class="">Kanban Board</p> </i>
                </div>

                <button class="btn menu-button flex-parent" type="button" data-toggle="collapse" data-target="#projects" aria-expanded="false" aria-controls="collapseExample">
                    <i class="bi bi-briefcase"></i>
                    <p class="flex-child">Projects</p>
                    <i class="bi bi-arrow-right"></i>
                </button>

                <div class="collapse text-center" id="projects">
                    <li class="list-group-item">Overview</li>
                    <li class="list-group-item">Grid View</li>
                    <li class="list-group-item">Table View</li>
                    <li class="list-group-item">Details</li>
                    <li class="list-group-item">Create Project</li>
                </div>

                <button class="btn menu-button flex-parent" type="button" data-toggle="collapse" data-target="#tasks" aria-expanded="false" aria-controls="collapseExample">
                    <i class="bi bi-list-task"></i>
                    <p class="flex-child">Tasks</p>
                    <i class="bi bi-arrow-right"></i>
                </button>

                <div class="collapse text-center" id="tasks">
                    <li class="list-group-item">New Task</li>
                    <li class="list-group-item">To Do</li>
                    <li class="list-group-item">In Progress</li>
                    <li class="list-group-item">Later</li>
                </div>

                <button class="btn menu-button flex-parent" type="button" data-toggle="collapse" data-target="#files" aria-expanded="false" aria-controls="collapseExample">
                    <i class="bi bi-filetype-txt"></i>
                    <p class="flex-child">Files</p>
                    <i class="bi bi-arrow-right"></i>
                </button>

                <div class="collapse text-center" id="files">
                    <li class="list-group-item">Overview</li>
                    <li class="list-group-item">Grid View</li>
                    <li class="list-group-item">Table View</li>
                    <li class="list-group-item">Details</li>
                    <li class="list-group-item">Create Project</li>
                </div>

                <button class="btn menu-button flex-parent" type="button" data-toggle="collapse" data-target="#settings" aria-expanded="false" aria-controls="collapseExample">
                    <i class="bi bi-gear"></i>
                    <p class="flex-child">Settings</p>
                    <i class="bi bi-arrow-right"></i>
                </button>

                <div class="collapse text-center" id="settings">
                    <li class="list-group-item">Overview</li>
                    <li class="list-group-item">Grid View</li>
                    <li class="list-group-item">Table View</li>
                    <li class="list-group-item">Details</li>
                    <li class="list-group-item">Create Project</li>
                </div>

                <div class="profile-sidebar my-5">
                  <button class="profile-btn btn rounded-5 position-relative border border-black d-flex align-items-center">
                    <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="Profile image" style="border-radius: 50%; width: 30px; height: 30px;">
                    <span class="flex-grow-1 ml-2">User Name</span>
                    <i class="bi bi-arrows-angle-expand"></i>
                  </button>
                </div>
                
                
                                               


            </div>

            <div class="content">
                <!-- Navbar code -->
                <nav class="navbar navbar-expand-lg navbar-light bg-white border border-black">
                    
                    <!-- hamburger code -->
                    <div class="ham-menu hamburger hamburger--slider">
                      <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                      </div>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <i class="bi bi-search"></i>
                      </form>
                      <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                          <a class="nav-link" href="#" id="notificationsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-bell"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationsDropdown">
                            <a class="dropdown-item" href="#">Notification 1</a>
                            <a class="dropdown-item" href="#">Notification 2</a>
                            <a class="dropdown-item" href="#">Notification 3</a>
                          </div>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i>
                            <span class="ml-2 d-none d-lg-inline">John Doe</span>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
                            <a class="dropdown-item" href="#">Profile</a>
                            <a class="dropdown-item" href="#">Settings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Logout</a>
                          </div>
                        </li>
                      </ul>
                    </div>
                </nav>

                <div class="row">
                  <!-- To Do List code -->
                  <div class="col col-sm-6 col-md-4 border border-black">
                    <!-- Column 2 content -->
                    <div class="task-header">
                      <div class="circle" id="to-do"></div>
                      <h6 class="task-title">To Do Tasks</h6>
                    </div>

                    {% for todo in todo_list %}
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">{{ todo.task }}</h5>
                          <p class="card-text text-justify">{{ todo.content }}</p>
                          <form id="update-task-form" method="post" action="{% url 'update_task_status' todo.id %}">
                            {% csrf_token %}
                            <div class="form-group border border-black"">
                              <select class="form-control" id="id_select" name="new_id">
                                <option value="0" selected="selected">To Do</option>
                                <option value="1">In progress</option>
                                <option value="2">Completed</option>
                              </select>
                            </div>
                            <button type="submit" class="btn border border-blue text-uppercase">Save</button>
                          </form>
                        </div>
                      </div>
                    {% endfor %}
                    
                  </div>

                  <!-- In Progress List code -->
                  <div class="col col-sm-6 col-md-4 border border-black">
                    <!-- Column 2 content -->
                    <div class="task-header">
                      <div class="circle" id="in-prog"></div>
                      <h6 class="task-title">In Progress Tasks</h6>
                    </div>

                    {% for inprog in inprog_list %}
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title font-weight-bold">{{ inprog.task }}</h5>
                          <p class="card-text text-justify">{{ inprog.content }}</p>
                          <form id="update-task-form-prog" method="post" action="{% url 'update_task_status' inprog.id %}">
                            {% csrf_token %}
                            <div class="form-group border border-black"">
                              <select class="form-control" id="id_select" name="new_id">
                                <option value="0">To Do</option>
                                <option value="1" selected="selected">In progress</option>
                                <option value="2">Completed</option>
                              </select>
                            </div>
                            <button type="submit" class="btn border border-black text-uppercase">Save</button>
                          </form>
                        </div>
                      </div>
                    {% endfor %}
                    
                  </div>

                  <!-- Complete List code -->
                  <div class="col col-sm-6 col-md-4 border border-black">
                    <!-- Column 3 content -->
                    <div class="task-header">
                      <div class="circle" id="complete"></div>
                      <h6 class="task-title">Completed Tasks</h6>
                    </div>

                    {% for done in done_list %}
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">{{ done.task }}</h5>
                          <p class="card-text text-justify">{{ done.content }}</p>
                          <div class="btn-group" role="group" aria-label="Task status">
                            <form id="update-task-form-done" method="post" action="{% url 'update_task_status' done.id %}">
                              {% csrf_token %}
                              <div class="form-group border border-black"">
                                <select class="form-control" id="id_select" name="new_id">
                                  <option value="0">To Do</option>
                                  <option value="1">In progress</option>
                                  <option value="2" selected="selected">Completed</option>
                                </select>
                              </div>
                              <button type="submit" class="btn border border-black text-uppercase">Save</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    {% endfor %}

                    
                  </div>

                </div>
                                
            </div>
        </div>
    </body>
</html>

<script src="{% static 'js/script.js' %}"></script>
